:root {
	--bodyBg: black;
	--textCol: white;
	--secondaryCol: skyblue;
	--keyBg: linear-gradient(45deg, darkblue, royalblue);	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--bodyBg);
	color: var(--textCol);
	padding: 10px;
	display: flex;
	align-items: center;
	font-family: "Poppins", sans-serif;
	user-select: none;
}

h1 {
	width: calc(100vw - 50px);
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1%;
}

h1 mark {
	background: transparent;
	color: var(--secondaryCol);
	font-variant: small-caps;
}

#listen {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-variant: small-caps;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: "Space Mono", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
}

#listen mark {
	font-family: "Poppins", sans-serif; 
	background: none;
	color: red;
	font-size: 1.2rem;
	font-variant: normal;
}

#listen img {
	transform: translateY(3px);
}

#keysCont {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(7px, 1.5%, 10px);
	overflow: hidden;
}

.key {
	max-height: 55px;
	padding: 7px 10px;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
	border: 1px solid var(--secondaryCol);
	border-radius: 10px;
	background: var(--keyBg);
}
