:root{
    --BodyBg:#252529;
    --ContBtnShadow:0px 20px 25px rgba(255,255,255,0.4);
    
    /* Button 1 : Blue + Shake */
    --Btn1Col:white;
    --Btn1Bg:linear-gradient(45deg,#2727D7EB,black);
    --Btn1_s1Bg:linear-gradient(to right,black,lightblue);
    --Btn1_s2Bg:linear-gradient(to bottom,black,lightblue);
    --Btn1_s3Bg:linear-gradient(to left,black,lightblue);
    --Btn1_s4Bg:linear-gradient(to top,black,lightblue);
    /* On Hover */
    --ContBtn1ShadowHover:0px 10px 25px 2px blueviolet;
    --Btn1BgHover:black;
    --Btn1ColHover:white;
    
    /* Button2 : Black + Bounce */
    --Btn2Col:white;
    --Btn2Bg:linear-gradient(45deg,black 70%,white);
    --Btn2_s1Bg:linear-gradient(to right, white, aqua);
    --Btn2_s2Bg:linear-gradient(to bottom, white, aqua);
    --Btn2_s3Bg:linear-gradient(to left, white, aqua);
    --Btn2_s4Bg:linear-gradient(to top, white, aqua);
    /* On Hover */
    --ContBtn2ShadowHover:0px 10px 25px 2px white;
    --Btn2BgHover:white;
    --Btn2ColHover:black;
    
    /* Button3 : Red + Flash */
    --Btn3Col:black;
    --Btn3Bg:linear-gradient(45deg,red,pink);
    --Btn3_s1Bg:linear-gradient(to right,lightpink, red);
    --Btn3_s2Bg:linear-gradient(to bottom, lightpink,red);
    --Btn3_s3Bg:linear-gradient(to left,lightpink, red);
    --Btn3_s4Bg:linear-gradient(to top,lightpink, red);
    /* On Hover */
    --ContBtn3ShadowHover:0px 10px 25px 2px pink;
    --Btn3BgHover:pink;
    --Btn3ColHover:black;
    
    /* Button4 : Green + Scale */
    --Btn4Col:Black;
    --Btn4Bg:linear-gradient(45deg,grey,#C9C666C4);
    --Btn4_s1Bg:linear-gradient(to right,green,lightgreen);
    --Btn4_s2Bg:linear-gradient(to bottom,green,lightgreen);
    --Btn4_s3Bg:linear-gradient(to left,green, lightgreen);
    --Btn4_s4Bg:linear-gradient(to top,green, lightgreen);
    /* On Hover */
    --ContBtn4ShadowHover:0 10px 25px 2px #D5CA77C4;
    --Btn4BgHover:#C9C666C4;
    --Btn4ColHover:black;
    
    /* Button5 : Brown + Swing */
    --Btn5Col:white;
    --Btn5Bg:linear-gradient(45deg, brown,black);
    --Btn5_s1Bg:linear-gradient(to right, black, red);
    --Btn5_s2Bg:linear-gradient(to bottom, black, red);
    --Btn5_s3Bg:linear-gradient(to left, black, red);
    --Btn5_s4Bg:linear-gradient(to top, black, red);
    /* On Hover */
    --ContBtn5ShadowHover:0 10px 25px 2px brown;
    --Btn5BgHover:black;
    --Btn5ColHover:white;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:var(--BodyBg);
}
main{
    display:grid;
    width:100vw;
    height:100vh;
}
.ContBtn{
    display:grid;
    place-items:center;
    padding:10px;
    width:100vw;
    max-width:450px;
    margin:0 auto;
}
div{
    overflow:hidden;
    width:70%;
    box-shadow:var(--ContBtnShadow);
    animation:var(--AnimeName) 0.4s ease-in-out 0s;
}
button{
    padding:20px;
    font-size:25px;
    border:0;
    letter-spacing:2px;
    width:100%;
    font-family:"Chewy",system-ui;
    position:relative;
    border:0;
}
span{
    position:absolute;
}
.s1{
    top:0;
    left:0;
    width:100%;
    height:2px;
    animation:anime1 1s linear infinite;
}
@keyframes anime1{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(100%);
    }
}
.s2{
    top:0;
    right:0;
    width:2px;
    height:100%;
    animation:anime2 1s linear 0.5s infinite;
}
@keyframes anime2{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(100%);
    }
}
.s3{
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    animation:anime3 1s linear 1s infinite;
}
@keyframes anime3{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}
.s4{
    top:0;
    left:0;
    width:2px;
    height:100%;
    animation:anime4 1s linear 1.5s infinite;
}
@keyframes anime4{
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(-100%);
    }
}

/* Button 1 : Blue + Shake */
.Btn1{
    background:var(--Btn1Bg);
    color:var(--Btn1Col);
}
.Btn1 .s1{
    background:var(--Btn1_s1Bg);
}
.Btn1 .s2{
    background:var(--Btn1_s2Bg);
}
.Btn1 .s3{
    background:var(--Btn1_s3Bg);
}
.Btn1 .s4{
    background:var(--Btn1_s4Bg);
}
.ContBtn1:hover{
    box-shadow:var(--ContBtn1ShadowHover);
}
.Btn1:hover{
    background:var(--Btn1BgHover);
    color:var(--Btn1ColHover);
}
.Btn1:hover span{
    background:var(--Btn1BgHover);
}
/* Shake Effect of Btn1 */
.shake:hover{
    --AnimeName:shake;
}
@keyframes shake{
    0%{
        transform:translate(0px);
    }
    25%{
        transform:translate(10px);
    }
    50%{
        transform:translate(0px);
    }
    75%{
        transform:translate(-10px);
    }
    100%{
        transform:translate(0px);
    }
}

/* Button 2 : Black + Bounce */
.Btn2{
    background:var(--Btn2Bg);
    color:var(--Btn2Col);
}
.Btn2 .s1{
    background:var(--Btn2_s1Bg);
}
.Btn2 .s2{
    background:var(--Btn2_s2Bg);
}
.Btn2 .s3{
    background:var(--Btn2_s3Bg);
}
.Btn2 .s4{
    background:var(--Btn2_s4Bg);
}
.ContBtn2:hover{
    box-shadow:var(--ContBtn2ShadowHover);
}
.Btn2:hover{
    background:var(--Btn2BgHover);
    color:var(--Btn2ColHover);
}
.Btn2:hover span{
    background:var(--Btn2BgHover);
}
/* Bounce Effect of Btn2 */
.bounce:hover{
    --AnimeName:bounce;
}
@keyframes bounce{
    0%{
        transform:translateY(0px);
    }
    25%{
        transform:translateY(10px);
    }
    50%{
        transform:translateY(0px);
    }
    75%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0px);
    }
}

/* Button 3 : Red + flash */
.Btn3{
    background:var(--Btn3Bg);
    color:var(--Btn3Col);
}
.Btn3 .s1{
    background:var(--Btn3_s1Bg);
}
.Btn3 .s2{
    background:var(--Btn3_s2Bg);
}
.Btn3 .s3{
    background:var(--Btn3_s3Bg);
}
.Btn3 .s4{
    background:var(--Btn3_s4Bg);
}
.ContBtn3:hover{
    box-shadow:var(--ContBtn3ShadowHover);
}
.Btn3:hover{
    background:var(--Btn3BgHover);
    color:var(--Btn3ColHover);
}
.Btn3:hover span{
    background:var(--Btn3BgHover);
}
/* Flash Effect of Btn3 */
.flash:hover{
    --AnimeName:flash;
}
@keyframes flash{
    0%{
        filter:opacity(1);
    }
    25%{
        filter:opacity(0.5);
    }
    50%{
        filter:opacity(0);
    }
    75%{
        filter:opacity(0.5);
    }
    100%{
        filter:opacity(1);
    }
}

/* Button 4 : Green + Scale */
.Btn4{
    background:var(--Btn4Bg);
    color:var(--Btn4Col);
}
.Btn4 .s1{
    background:var(--Btn4_s1Bg);
}
.Btn4 .s2{
    background:var(--Btn4_s2Bg);
}
.Btn4 .s3{
    background:var(--Btn4_s3Bg);
}
.Btn4 .s4{
    background:var(--Btn4_s4Bg);
}
.ContBtn4:hover{
    box-shadow:var(--ContBtn4ShadowHover);
}
.Btn4:hover{
    background:var(--Btn4BgHover);
    color:var(--Btn4ColHover);
}
.Btn4:hover span{
    background:var(--Btn4BgHover);
}
/* Scale Effect of Btn4 */
.scale:hover{
    --AnimeName:scale;
}
@keyframes scale{
    0%{
        transform:scale(1);
    }
    25%{
        transform:scale(1.2);
    }
    50%{
        transform:scale(1.5);
    }
    75%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}

/* Button 5 : Brown + Swing  */
.Btn5{
    background:var(--Btn5Bg);
    color:var(--Btn5Col);
}
.Btn5 .s1{
    background:var(--Btn5_s1Bg);
}
.Btn5 .s2{
    background:var(--Btn5_s2Bg);
}
.Btn5 .s3{
    background:var(--Btn5_s3Bg);
}
.Btn5 .s4{
    background:var(--Btn5_s4Bg);
}
.ContBtn5:hover{
    box-shadow:var(--ContBtn5ShadowHover);
}
.Btn5:hover{
    background:var(--Btn5BgHover);
    color:var(--Btn5ColHover);
}
.Btn5:hover span{
    background:var(--Btn5BgHover);
}
/* Swing Effect of Btn5 */
.swing:hover{
    --AnimeName:swing;
}
@keyframes swing{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(20deg);
    }
    50%{
        transform:rotate(0deg);
    }
    75%{
        transform:rotate(-20deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
