:root{
    --bodyBg: black;
    --cardBg: linear-gradient(to left, #EEF3F6, #E5EDF0, #DFE4E7);
    --eggBg: linear-gradient(to left, white, #CDCBBE);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    background: var(--bodyBg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Egg Card */

section:last-child{
	background: var(--cardBg);
    width: 250px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
} 

#egg{
    width: 150px; 
    height: 210px; 
    border: 0;
    border-radius: 50%; /* To make circle if height & width is same but in this case height is greater than width So, it becomes oval-shaped */
    background: var(--eggBg);
    position: relative;
    box-shadow: -20px 7px 35px 5px rgba(0,0,0,0.3);
}

#lines{
    position: absolute;
    top: 0;
    left: 40%;
    width: 25px;
    height: 50px;
    border-radius: 0;
    display: none;
}

#brows{
    width: 100%;
    height: 25px;
    position: absolute;
    top: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brow{
    display: inline-block;
    background: black;
    width: 30px;
    height: 8px;
    border: 0;
    border-radius: 5px;
}

#eyes{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.eye{
    width: 45px;
    height: 45px;
    background: transparent;
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
}

.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
}

#smile{
    position: absolute;
    bottom: 20%;
    left: 40%;
    width: 30px;
    height: 8px;
    background: black;
    display: inline-block;
    border: 0;
    border-radius: 5px;
}

/* On Hover to Egg*/
#egg *,
#lines{
	transition: all 0.5s ease 0.1s;
}

#egg:hover{
    animation: shake 0.2s linear 0.1s 2;
}

#egg:hover #lines{
    display: block;
}

#egg:hover .brow:first-of-type{
    transform: rotate(-20deg);
}

#egg:hover .brow:last-of-type{
    transform: rotate(20deg);
}

#egg:hover .dot{
    top: 5px;
}

#egg:hover #smile{
    border-radius: 50%;
    width: 20px;
    left: 45%;
}

@keyframes shake{
    50%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(-10%);
    }
}

@media only screen and (orientation: portrait){
	#info p::before{
		content: "Hover";
	}
}
