:root {
	--bodyBg: black;
	--h1Col: white;
	
	/* Card */
	--cardBg: white;
	--cardWidth: clamp(300px, 100%, 800px);
	--cardHeight: 20vh;
	--thumbWidth: 25%;
	--timeCol: white;
	--timeBg: rgba(0, 0, 0, 0.5);
	--titleCol: black;
	--infoWidth: calc(var(--cardWidth) - var(--thumbWidth) - 50px);
	--aboutCol: rgba(0, 0, 0, 0.65);
	--menuCol: black;
	--bordRadius: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden auto;
	background: var(--bodyBg);
	padding: 10px 7px;
	user-select: none;
	font-family: "Monteserrat", sans-serif;
}

h1 {
	width: 100%;
	text-align: center;
	color: var(--h1Col);
}

main {
	display: flex;
	flex-direction: column;
	gap: 2vmin;
}

/* Card */
.card {
	width: var(--cardWidth);
	height: var(--cardHeight);
	padding: 10px;
	border-radius: var(--bordRadius);
	background: var(--cardBg);
	display: flex;
	gap: 2%;
	position: relative;
	margin: 0 auto;
}

/* Thumbnail */
.thumbnail {
	height: 100%; 
	width: var(--thumbWidth);
	border-radius: var(--bordRadius);
	position: relative;
}

.thumbnail time {
	display: inline-block;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--timeCol);
	border-radius: 7px;
	background: var(--timeBg);
	padding: 3px 5px;
	position: absolute;
	bottom: 2%;
	right: 2%;
}

/* Info */
.info {
	width: var(--infoWidth);
}

.info p {
	margin-bottom: 2%;
	font-weight: bold;
	color: var(--titleCol);
}

.info div {
	font-size: 0.8rem; 
	color: var(--aboutCol);	
}

.dot {
	font-weight: bold;
}


/* Menu Icon */
.menu-icon {
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-weight: bold;
	font-size: 1.2rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
}

.menu-icon span {
	display: block;
	letter-spacing: 1px;
	transform: rotate(270deg);
}

@media only screen and (orientation: landscape){
	.info p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (orientation: portrait){
	.card {
		flex-direction: column; 
		--cardHeight: 35vh;
		--cardWidth: 85%;
		gap: 5%;
		padding: 13px
	}	
	
	.thumbnail {
		--thumbWidth: 100%; 
	}

	.info {
		--infoWidth: 90%;
		font-size: 0.9rem;
	}

	.info div * {
		display: none;
	}

	.info div #channelName {
		display: inline;
		
	}

	.menu-icon {
		align-items: flex-end;
	}
	.menu-icon span {
		transform: rotate(270deg) translateX(25px);
	}
}
